/* Main CSS file */
@import "typography/fonts.css";
@import "signup/signup.css";
@import "chat/sidebar.css";
@import "chat/chatbox.css";

:root {
  background-color: #fff;
  font-family: "SF Pro";
  font-size: 16px;
}

body {
  margin: 0;
}
